.parentDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

